<!-- navigation bar with an unordered list -->


<div>
    <h2>The Library: </h2>

</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    The Following Genres
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Fiction
                </td>
            </tr>
            <tr>
                <td>
                    Non-Fiction
                </td>
            </tr>
        </tbody>
    </table>
</div>