<!DOCTYPE>
<html lang='en'>

    <head>

        <link rel="stylesheet" type="text/css" href="/css/script.css">
    </head>

    <body>

    <nav class="flexbox">
        <li><a href="/">Home</a></li>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/borrowers">Borrowers</a></li>
            <li><a href="/maintain">Add to Database</a></li>

        </ul>
    </nav>

        {{{body}}}


    </body>

    <div class="fixed-footer">
        {{>footer/footer}}
    </div>
    <script src="forms.js" type="text/javascript"></script>
    <script src="borrowers.js" type="text/javascript"></script>
    <!-- <script src="../../app.js" type="text/javascript"></script> -->

</html>
