<!DOCTYPE>
<html lang='en'>

    <head>
       
        <link rel="stylesheet" type="text/css" href="/css/script.css">
    </head>

    <body>

    <nav class="flexbox">
        <li><a href="/">Home</a></li>
        <ul>
            <li><a href="#">Books</a></li>
            <li><a href="/borrowers">Borrowers</a></li>
            <li><a href="/maintain">Maintain</a></li>
            {{!-- <li><a href="/genres">Genres</a></li>
            <li><a href="/authors">Authors</a></li> --}}
        </ul>
    </nav>

        {{{body}}}
       
    </body>

    <div class="fixed-footer">
        {{>footer/footer}}
    </div>

</html>