<!-- navigation bar with an unordered list -->
<div>
<h2>Search the library for books or see the full collection below</h2>
<form action="/action_page.php">
  <div class="form-group">
    <label for="Title">Title:</label>
    <input name="Title" id="TitleSearch" />
  </div>
  <div class="form-group">
    <label for="Author">Author:</label>
    <input name="Author" id="AuthorSearch"/>
  </div>
  <div class="form-group">
    <label for="AuthorNationality">Author Nationality:</label>
    <input name="AuthorNationality" id="AuthorNationality"/>
  </div>
  <div class="form-group">
    <label for="Language">Language:</label>
    <input name="Language" id="LanguageSearch"/>
  </div>
  <div class="form-group">
    <label for="Genre">Genre:</label>
    <input name="Genre" id="GenreSearch"/>
  </div>
  <div class="form-group">
    <label for="Publisher">Publisher:</label>
    <input name="Publisher" id="PublisherSearch"/>
  </div>
  <div>
    <p>Borrowed?</p>
    <input type="radio" name="isBorrowed" id="yes" value="yes">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="isBorrowed" value="no">
    <label for="no">No</label><br>
  </div>
  <div class="form-group">
    <label for="Borrower">Borrower:</label>
    <input name="Borrower" id="BorrowerSearch" />
  </div>
  <input type="submit" value="Submit">
</form>
</div>


<div class="DataTable">
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Borrowed?</th>
                <th>Current Borrower</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal0">The Answer Is... Reflections on My Life</a></td>
                <td>Alex Trebek</td>
                <td id="status1">Yes</td>
                <td>Rhonda Smith</td>
                <td class="Action"><button id="status1Button">Return</button></td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal1">Who is Alex Trebek?: A Biography</a></td>
                <td>Lisa Rogak</td>
                <td id="status2">Yes</td>
                <td>Mateo Estrada</td>
                <td class="Action"><button id="status2Button">Return</button></td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal2">Portrait of Myself</a></td>
                <td>Margaret Bourke-White</td>
                <td id="status3">No</td>
                <td></td>
                <td class="Action"><button id="status3Button">Return</button></td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal3">The Basketball Diaries</a></td>
                <td>Jim Carroll</td>
                <td id="status4">No</td>
                <td></td>
                <td class="Action"><button id="status4Button">Return</button></td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal4">A Choice of Weapons</a></td>
                <td>Gordon Parks</td>
                <td id="status5">No</td>
                <td></td>
                <td class="Action"><button id="status5Button">Return</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="modal-text">Some text in the Modal..</p>
    <button id="updateButton">Update Book</button>
    <button id="deleteButton">Delete Book</button>
  </div>

</div>
