<link href='/script.css'>
<!-- navigation bar with an unordered list -->
<h2>Search the library for borrowers or see the full list below</h2>

<div>
    <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for borrowers">
        {{!-- <ol id="myUL">
            <li style="display: None;"><a href="">Mateo Estrada</a></li><br>
            <li style="display: None;"><a href="">Rhonda Smith</a></li><br>
            <li style="display: None;"><a href="">Oscar Rascal</a></li><br>
            <li style="display: None;"><a href="">Barry Allen</a></li><br>
            <li style="display: None;"><a href="">Wally West</a></li><br>
        </ol> --}}
    </div>
    <p>If the borrower isn't on the list, you can add him below:</p>

    <a href="/maintain"><button>Add A Borrower</button></a>


</div><br><br>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Currently borrowing books?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal6">Rhonda Smith</a></td>
                <td>123-456-7891</td>
                <td>rhonda@thebookborrower.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal7">Mateo Estrada</a></td>
                <td>987-654-3210</td>
                <td>mateo@thebookborrower.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal8">Oscar Rascal</a></td>
                <td>123-456-7891</td>
                <td>rascal@thebookborrower.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal9">Barry Allen</a></td>
                <td>415-123-4567</td>
                <td>barry@thebookborrower.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal10">Wally West</a></td>
                <td>562-123-4567</td>
                <td>wally@thebookborrower.com</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="modal-text">Some text in the Modal..</p>
    <button id="updateButton">Update Borrower</button>
    <button id="deleteButton">Delete Borrower</button>
  </div>

</div>
