
<!-- navigation bar with an unordered list -->
<div>
    <h2>Borrowers: </h2>
    <h3>People that have ever borrowed books:</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Currently borrowing books?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal6">Rhonda Smith</a></td>
                <td>123-456-7891</td>
                <td>rhonda@thebookborrower.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal7">Mateo Estrada</a></td>
                <td>987-654-3210</td>
                <td>mateo@thebookborrower.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td><a href="#" class="moreInfo" id="openModal8">Oscar Rascal</a></td>
                <td>123-456-7891</td>
                <td>rascal@thebookborrower.com</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="modal-text">Some text in the Modal..</p>
    <button id="updateButton">Update</button>
    <button id="deleteButton">Delete</button>
  </div>

</div>
