<!-- navigation bar with an unordered list -->

<header class="page-header">

    <h1 style="text-align: center; color: white;">Welcome to <i>The Book Borrower</i></h1><br>

    {{!-- <h2 style="text-align: right; color: white; position: relative; top: 100px; left: 50px;">Tired of forgetting which of your books your friends have?! <br> Does your family ask to borrow books and then you
        never see them again? <br>
        <br>
        Look no further!
        <br>
        <br>
        This website will help you keep track which books have been borrowed and by whom! <br>
        Because your copy of <i>Fifty Shades of Grey</i> might be collecting dust under someones bed...
    </h2> --}}

</header>
<div class="block">
    
</div>
<div class="homeDiv">
  
    

    <i>Home page will give you a brief tutorial on what each page does for the overall website.</i>
        <ol>
            <h3>Description:</h3>
            <li>
                The <a href="/books" style="border-radius: 5px; Color: blue;">Books</a> page will be used to show all the books that are owned by yourself, <i>The Book Lender</i>.
            </li>
            <li>
                It shows the fields from the Table Books, and it lets you know if a book is borrowed or not.
                For now, there is only one field that can be updated, that will be changed once the back-end is connected to the database.
            </li>

            <li>
                It also gives you the ability to return or borrow a book.
            </li>
            <li>
                If you click on a specific book, it will show detailed view where you can edit, or delete the book. 
            </li>
        </ol> <br>


        <ol>
            <li>
                The <a href="/borrowers" style="border-radius: 5px; Color: blue;">Borrowers</a> page will be used to show all the different people that can borrow books.</li>
            <li>
                It shows the fields from the Table borrowers: name, phone, email, and if they have a book.          </li>
            <li>
                If you click on a specific borrower, it will show detailed view where you can edit, or delete a borrower.
            
            </li>
        </ol> <br>

        <ol>
            
            <li>
                The <a href="/maintain" style="border-radius: 5px; Color: blue;">Add to Database</a>. 
            </li>
            <li>
                It has 9 forms, one for adding books and if the field is not present in the books form you can add authors, languages, publishers, genres, etc. 
            </li>
        
        </ol> <br>
</div>
