<!-- navigation bar with an unordered list -->



<div>
    <h2>The Library: </h2>
    <h3>The following are the books that I own:</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    The first book
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    The Book Thief
                </td>
            </tr>

        </tbody>
    </table>
</div>