<!-- navigation bar with an unordered list -->
<div>
    <h2>Welcome to the Book Borrower!</h2>
    <h4>Description of the webpage: </h4>
    <i>Home page will give you a brief tutorial on what each page does for the overall website.</i>

        <ol>
            <h3>This is the home page of the website.</h3>
            <li>
                The <a href="/books">Books</a> page will be used to show all the books that are owned by the User.
            </li>
            <li>
                It shows the fields from the Table Books, and it lets you know if a book is borrowed or not.
            </li>

            <li>
                It also gives you the ability to return or borrow a book.
            </li>
            <li>
                If you click on a specific book, it will show detailed view where you can edit, or delete the book. 
            </li>
        </ol> <br>


        <ol>
            <li>
                The <a href="/borrowers">Borrowers</a> page will be used to show all the different people that can borrow books.</li>
            <li>
                It shows the fields from the Table borrowers: name, phone, email, and if they have a book.          </li>
            <li>
                If you click on a specific borrower, it will show detailed view where you can edit, or delete a borrower.
            </li>
        </ol> <br>

        <ol>
            
            <li>
                The <a href="/maintain">Add to Database</a>. 
            </li>
            <li>
                It lets you add Books, Authors, and Borrowers to the database.
            </li>
        
        </ol> <br>
</div>
