<!-- navigation bar with an unordered list -->



<div>
    <h2>Welcome to the Book Borrower!</h2>
    <h4>Description of the webpage: </h4>
    <i>Home page will give you a brief tutorial on what each page does for the overall website.</i>

        <ol>
            <h3>This is the home page of the website.</h3>
            <li>
                The <a href="/books">Books</a> page will be used to show all the books that are owned by the User.
            </li>
            <li>
                It shows the fields from the Table Books, and it lets you know if a book is borrowed or not.
            </li>

            <li>
                It also gives you the ability to return or borrow a book.
            </li>
        </ol> <br>


        <ol>
            <li>
                The <a href="/borrowers">Borrowers</a> page will be used to show all the different people that can borrow books.</li>
            <li>
                It shows the fields from the Table borrowers: name, phone, email, and if they have a book.          </li>
        
        </ol> <br>

        <ol>
            
            <li>
                The <a href="/maintain">Maintain</a> page will be used to have the CRUD functionalities for the database. 
            </li>
            <li>
                It lets you maintain the database by being able to create, remove, update, and delete books, authors, and people that will borrow books.
            </li>
        
        </ol> <br>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    The first book
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    The Book Thief
                </td>
            </tr>

        </tbody>
    </table>
</div>