<!-- navigation bar with an unordered list -->


<nav class="flexbox">
    <li><a href="#">Home</a></li>
    <ul>
        <li><a href="/views/books">Books</a></li>
        <li><a href="/views/borrowers">Borrowers</a></li>
        <li><a href="#">Genres</a></li>
    </ul>
</nav>
<div>
    <h2>The Library: </h2>
    <p>The following are the books that I own:</p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    The first book
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    The Book Thief
                </td>
            </tr>

        </tbody>
    </table>
</div>
