<!-- navigation bar with an unordered list -->

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
  <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/borrowers">Borrowers</a></li>
        <li><a href="/maintain">Add to Database</a></li>
    </ul>
</nav>