
<link href='/script.css'>
{{!-- <script type="text/javascript" src='../../public/forms.js'>
</script> --}}
<h1>
    The Book Borrower
</h1>
{{!-- forms to create update and delete --}}
{{!-- we want to have it on a link so that it pops up and then we can make the changes. --}}
<div>
    <h3>Adding Books to the Database:</h3>
        <form id='bookForm' method="#" action="#">
            Title <input type='text' name='titleBook'><br>
            Author <input type='text' name='authorID'><br>
            <label for="status">Currently being Borrowed?</label>
            <select id="status" name="status">
                <option value="Yes" id="Yes">Yes</option>
                <option value="No" id="No">No</option>
            </select><br>
            Number of Pages <input type='number' name='pageCount' min="0" required><br>
            <select id="existingPublisher" name="existingPublisher">
              <option selected hidden style="display:none">Select Publisher</option>
                <option value="SimonSchuster" id="SimonSchuster">Simon & Schuster</option>
                <option value="ThomasDunneBooks" id="ThomasDunneBooks">Thomas Dunne Books</option>
                <option value="PalalaPress" id="PalalaPress">Palala Press</option>
                <option value="PenguinBooks" id="PenguinBooks">Penguin Books</option>
                <option value="MinnesotaHSP" id="MinnesotaHSP">Minnesota Historical Society Press</option>
            </select><br>
            Add new publisher <input type='text' name='PublisherBook'><br>
            <select id="existingLanguage" name="existingLanguage">
              <option selected hidden style="display:none">Select Language</option>
                <option value="English" id="English">English</option>
            </select><br>
            Add new Language <input type='text' name='languageID'><br>
            <p>
              Select Genre(s)
            </p>
            <select id="existingGenres" name="existingGenres" multiple>
                <option value="NonFiction" id="NonFiction">Non-Fiction</option>
                <option value="Biography" id="Biography">Biography</option>
                <option value="Autobiography" id="Autobiography">Autobiography</option>
            </select><br>
            Add new Genre(s) <input type='text' name='genreID'><br>
            <br>
            <button type='submit' id="submitBook" onclick="return confirm('Are you sure you want to add this book?');">
                Add Book
            </button>
        </form>
</div>



<div>
    <h3>Adding Authors to the Database:</h3>
        <form id='authorForm' method="#" action="/borrowers">
            First Name <input type='text' name='authorFirst'><br>
            Last Name <input type='text' name='authorLast'><br>
            Nationality <input type='text' name='authorNation'><br>
            <br>
            <button type='submit' onclick="return confirm('Are you sure you want to add this author?');">
                Add Author
            </button>
        </form>
</div>
<div>
    <h3>Adding Borrowers to the Database:</h3>
    <form id='authorForm' method="POST" action="#">
        First Name <input type='text' name='authorFirst'><br>
        Last Name <input type='text' name='authorLast'><br>
        Email <input type='email' id="email" name='email'><br>
        Phone <input type='tel' id="phone" name='phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>

        <br>
        <button type='submit' onclick="return confirm('Are you sure you want to add this Borrower?');">
            Add Borrower
        </button>
    </form>

</div>
