
<link href='/script.css'>
{{!-- <script type="text/javascript" src='../../public/forms.js'>
</script> --}}
<h1>
    The Book Borrower
</h1>
{{!-- forms to create update and delete --}}
{{!-- we want to have it on a link so that it pops up and then we can make the changes. --}}

<div class="menuForms">
<h2>
    What would you like to add today?
</h2>
</div>

{{!-- forms to create update and delete --}}
{{!-- we want to have it on a link so that it pops up and then we can make the changes. --}}

<div class="menuForms">
    <div class="side1">
        <h3>Add a Book with Publisher, Language, and Genre:</h3>
        <button class="open-button" onclick="openForm()">Open Books Form </button><br>
        <div id="bookFormDiv">
            <form id="bookForm" method="#" action="#">
                Title <input type='text' name='titleBook'><br>
              <select id="existingAuthor" name="existingAuthor">
                <option selected hidden style="display:none">Select Author</option>
                  <option value="AlexTrebek" id="AlexTrebek">Alex Trebek</option>
                  <option value="LisaRogak" id="LisaRogak">Lisa Rogak</option>
                  <option value="MargaretBourkeWhite" id="MargaretBourkeWhite">Margaret Bourke-White</option>
                  <option value="JimCarroll" id="JimCarroll">Jim Carroll</option>
                  <option value="GordonParks" id="GordonParks">Gordon Parks</option>
              </select><br>
            Add new author <input type='text' name='authorID'><br>
            <label for="status">Currently being Borrowed?</label>
            <select id="status" name="status">
                <option value="Yes" id="Yes">Yes</option>
                <option value="No" id="No">No</option>
            </select><br>
            Number of Pages <input type='number' name='pageCount' min="0" required><br>
            <select id="existingPublisher" name="existingPublisher">
              <option selected hidden style="display:none">Select Publisher</option>
                <option value="SimonSchuster" id="SimonSchuster">Simon & Schuster</option>
                <option value="ThomasDunneBooks" id="ThomasDunneBooks">Thomas Dunne Books</option>
                <option value="PalalaPress" id="PalalaPress">Palala Press</option>
                <option value="PenguinBooks" id="PenguinBooks">Penguin Books</option>
                <option value="MinnesotaHSP" id="MinnesotaHSP">Minnesota Historical Society Press</option>
            </select><br>
            Add new publisher <input type='text' name='PublisherBook'><br>
            <select id="existingLanguage" name="existingLanguage">
              <option selected hidden style="display:none">Select Language</option>
                <option value="English" id="English">English</option>
            </select><br>
            Add new Language <input type='text' name='languageID'><br>
            <p>
              Select Genre(s)</br>
              Ctrl+click (Windows) or Command+Click (Mac) to select more than one
            </p>
            <select id="existingGenres" name="existingGenres" multiple>
                <option value="NonFiction" id="NonFiction">Non-Fiction</option>
                <option value="Biography" id="Biography">Biography</option>
                <option value="Autobiography" id="Autobiography">Autobiography</option>
            </select><br>
            Add new Genre(s) <input type='text' name='genreID'><br>
            <br>
            <button type='submit' id="submitBook" onclick="return confirm('Are you sure you want to add this book?');">
                Add Book
            </button>
            <button class="close-button" onclick="closeForm()">Close Author Form</button>
            </form>
        </div>


    </div>

    <div class="side3">
        <h3>Add Borrowers with Contact Info:</h3>

        <button class="open-button" onclick="openBorrowForm()">Open Borrower Form</button>


        <div id="borrowForm" style="display: none;">
            <form id='authorForm' method="POST" action="#">
                First Name <input type='text' name='authorFirst'><br>
                Last Name <input type='text' name='authorLast'><br>
                Email <input type='email' id="email" name='email'><br>
                Phone <input type='tel' id="phone" name='phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
                <br>
                <button type='submit' onclick="return confirm('Are you sure you want to add this Borrower?');">
                    Add Borrower
                </button>
                <button class="close-button" onclick="closeBorrowForm()">Close Author Form</button>
            </form>

        </div>
    </div>




</div>
